<section *ngIf="isUserLoggedIn">
    <app-logout class="logout"></app-logout>
    <ul class="monsters">
        <li *ngFor="let monster of monsters" class="monster-element">
            <span>{{monster.pseudo}}</span>
            <button type="button" (click)="addFriend($event)">Add Friend</button>
        </li>
    </ul>
    <div class="presentation">
        <h1>Hello {{user.role}}</h1>
    </div>
    <app-modifier [(isModifierOpen)]="openModifier" class="modifier"></app-modifier>
    <app-acceptance *ngIf="openAcceptance" [(peopleInvites)]="peopleInvites"></app-acceptance>
</section>
<!-- <app-modal [childItem]="isModalOpen"></app-modal> -->