<div class="location-change">
    <p>Already have an account ?</p>
    <button type="button" routerLink="/login">Login</button>
</div>

<form [formGroup]="form">
    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-field">
            <label>Pseudo:</label>
            <input name="pseudo" formControlName="pseudo" maxlength="20">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password" minlength="8">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="signUp()">sign Up</button>
    </div>
</form>