<form [formGroup]="form">
    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-field">
            <label>Pseudo:</label>
            <input name="pseudo" formControlName="pseudo">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="signUp()">sign Up</button>
    </div>
</form>