<app-log-redirect></app-log-redirect>
<form [formGroup]="form" *ngIf="isFormOpen">
    <fieldset>
        <legend>Create an account</legend>
        <div class="form-field">
            <label>Pseudo:</label>
            <input name="pseudo" formControlName="pseudo" maxlength="20">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password" minlength="8">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="signUp()">Create Account</button>
    </div>
</form>